.dashboard{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.sideDrawer{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    box-shadow: 1px 3px #bbb;
}

.feedInfoContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
}
