.dashboard{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.sideDrawer{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 0;
    box-shadow: 2px 2px #bbb;
}

.sideDrawerTop{
    text-align: center;
}

.feedInfoContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
