.dashboard{
    min-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.sideDrawer{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 0;
    box-shadow: 2px 2px #bbb;
}

.feedInfoContainer{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

@media screen and (max-width: 500px){
    .sideDrawer{
        display: none;
    }

    .feedInfoContainer{
        margin: 0;
        margin-bottom: 50px;
    }
}