.inputBox{
    min-width: 300px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

select{
    margin: 3px 2px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    color: black;
}

select>option:first-child{
    color: #666;
}

.inputLabel{
    color: #666;
    margin: 3px 2px;
    display: inline-block;
    width: 200px;
    height: 30px;
    line-height: 30px;
}

input, textarea{
    margin: 5px 2px;
    width: 200px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    height: 30px;
}

input:focus{
    outline: none;
    border: 2px solid #5061c0;
}

.addItemButton{
    border: 1px solid blue;
    color: black;
    width: 50px;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    height: 20px;
}

@media screen and (max-width: 500px){
    .inputBox{
        width: 80%;
        flex-direction: column;
    }
}